<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home.css">
  <title>Home</title>

</head>

<body class="content">
  <form action="/home" method="POST">
    <div>
      <input class = "input" type="text" id="name" name="name" required>
    </div>
    <div>
      <input class = "input" type="number" id="price" name="price" required>
    </div>

    <button class = "button" type="submit">add</button>
  </form>
  <form action='api/button' method='POST'>

    <%if(user.length){ %>
      <% for(i = 0 ; i <user.length ; i++){  %>
        <h3> <%=user[i].name%></h3>
        <h3> <%=user[i].email%></h3>
        <button  value="<%=user[i].name%>" type = "submit" className='btn' name = "name" onClick={handleClick()}>Click It</button>
        <% } %>
      
        <% } %>

   
    </form>

</body>
</html>