<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Register</title>
</head>
<body>
  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Register </h2>
    <a href="login">Login </a>

    <!-- Icon -->
   

    <!-- Register  Form -->

    <form action="register" method="POST">
      <h2> <%=msg %> </h2> 
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="name" required>
      <input type="email" id="email" class="fadeIn third" name="email" placeholder="email"required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"required>
      <input type="password" id="rePassword" class="fadeIn third" name="rePassword" placeholder="rePassword"required>    
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

    <!-- Remind Password -->

  </div>
</div>

</body>
</html>


