<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page3.css">
    <link rel="stylesheet" href="../css/normlaiz.css" />
    <link rel="stylesheet" href="../css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,600;1,100;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <title>page3</title>
</head>
<body>
    
    <!-- start pag 1 -->
    <div class="up-header">account spending : ~ ~ 1.059.1399155 usd</div>
    <div class="header">
      <div class="left-pag">
        <div class="imge">
          <img src="../imags/hosting-basic.png" alt="" />
          <h3>zigzag</h3>
        </div>
        <div class="user">
        <p>user : mmo2ze</p>
        <p>amount : 25$</p>
      </div>
      <i class="fas fa-bars bar fa-2x kto"></i>
        <ul class="lists">
          <li><a href="#"> new order</a></li>
          <li><a href="#"> order</a></li>
          <li><a href="#"> refill</a></li>
          <li><a href="#">resell </a></li>
          <li><a href="#">contact us </a></li>
        </ul>
      </div>

      <div class="right-pag">

        <h2>select services</h2>
        <form >
                <label> service</label>
                    <input class="pg3" type="text" >
                <label>description</label>
                    <textarea class="pg3"  name="massig" ></textarea>
                <label>link </label>
                    <input class="pg3" type="text" placeholder="Enter The Link">
                <label>quantity</label>
                    <input class="pg3" type="text" placeholder="Enter The Quantity">
                    <p>min:100 - max:100000</p>
                <label>charge</label>    
                    <input class="pg3" type="text" placeholder="The Charge is">
                    <button type="button" >
                            submit
                    </button>        
        </form>










        <a href="#"> <i class=" fa-solid fa-headset support"></i></a>
            </div>







      </div>
   

    













    <!-- end pag 1 -->


</body>
</html>